<div class="row">
  <div class="col-12">
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <h4>Global TapIt Settings</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="registration-code" class="pr-2 mt-auto mb-auto">Secret Registration Code</label>
        <input type="text" class="flex-grow-1" id="registration-code" [(ngModel)]="displaySettings.secretRegistrationCode" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="threads" class="pr-2 mt-auto mb-auto">SMS Threads Per Campaign</label>
        <input type="text" class="flex-grow-1" id="threads" [(ngModel)]="displaySettings.threadsPerCampaign" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="bcrypt-cost" class="pr-2 mt-auto mb-auto">BCrypt Cost</label>
        <input type="text" class="flex-grow-1" id="bcrypt-cost" [(ngModel)]="displaySettings.bcryptCost" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="max-retries" class="pr-2 mt-auto mb-auto">Max Request Retries</label>
        <input type="text" class="flex-grow-1" id="max-retries" [(ngModel)]="displaySettings.maxRequestRetries" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="wait-time" class="pr-2 mt-auto mb-auto">Wait Before Retry (ms) </label>
        <input type="text" class="flex-grow-1" id="wait-time" [(ngModel)]="displaySettings.waitBeforeRetry" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="web-prefix" class="pr-2 mt-auto mb-auto">Web URL Prefix</label>
        <input type="text" class="flex-grow-1" id="web-prefix" [(ngModel)]="displaySettings.webTemplatePrefix" >
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <label for="webfront-placeholder" class="pr-2 mt-auto mb-auto">Frontpage Placeholder</label>
        <textarea class="form-control flex" [(ngModel)]="displaySettings.webFrontPlaceholder" id="webfront-placeholder" rows="6"></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <button type="button" (click)="updateGlobalSettings()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
<div>
