<div class="row p-2">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Twilio Settings
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-12">
            <label for="twilio-account-sid" class="pr-2 mt-auto mb-auto">Account SID</label>
            <input type="text" class="flex-grow-1" id="twilio-account-sid" [(ngModel)]="currTwilioProvider.accountSID" placeholder="Twilio Account SID">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="twilio-auth-token" class="pr-2 mt-auto mb-auto">Auth Token</label>
            <input type="text" class="flex-grow-1" id="twilio-auth-token" [(ngModel)]="currTwilioProvider.authToken" placeholder="Twilio Auth Token">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex">
        <button type="button" (click)="submitProviders()" class="btn btn-primary ml-2">Save Provider Settings</button>
      </div>
    </div>
  </div>
</div>
